      <nav>
        <div class="nav-wrapper blue-grey darken-4">
          <a href="/playlist" class="brand-logo">  PlayList</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="Active" routerLink="/signin">Información</a>
            </li>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="Active" routerLink="/signin">Inicia Sesión</a>
              </li>
            </ng-container>

            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.logOut()" >Cerrar Sesión </a>
              </li>
            </ng-template>

          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>


      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    
        <a class="navbar-brand" routerLinkActive="Active" routerLink="['/signin']">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="Active" routerLink="/signin">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="Active" routerLink="/signup">signup</a>
              </li>
            </ng-container>

            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.logOut()" >Logout</a>
              </li>
            </ng-template>

            <li class="nav-item">
              <a class="nav-link disabled" routerLinkActive="Active" routerLink="/tasks" tabindex="-1" aria-disabled="true">Administracion</a>
            </li>
          </ul>
        </div>
  </nav> -->